<div class="side_bar_head">
    <div class="user_name">
     <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="chat_make">
    <a href="">チャットを作成する</a>
  </div>
  </div>
<div class="side_bar_main"> 
    <div class="room"> 
        <div class="room_name"> 
          chatroom1</div>
    </div>   
    <div class="room"> 
        <div class="room_name"> 
          chatroom1</div>
    </div>          
    <div class="room"> 
        <div class="room_name"> 
          chatroom1</div>
    </div>          

                 
</div>

